/**fonts
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Caveat Brush', cursive;
**/

/**Main Styles**/

* {
	
	margin: 0;
	padding:0;
	
}

body {
	font-family: 'Lato', sans-serif;
	background-color: black;
	
}




#header {
	
	padding: 5px 0px;
	
	}

h1 {
	
	margin-top: 25px;
	text-align: center;
	color: #99ccff;
	font-size: 3.5em;
}

::-webkit-input-placeholder {
	color: lightgray;
	opacity: 0.3;
}


#todotext {
	
	margin: 1% 38%;
	height: 25px;
	width: 275px;
	border: none;
	border-bottom: solid 1px gray;
	font-size: 1.4em;
	background-color: black;
	color: white;
	
}



#list {
	height: auto;
	width: 275px;
	margin: 0 38%;
	
	font-size: 1.9em;
	overflow: auto;
	color: #cc99ff;
	
}

#btn {
	display: none;
	
}

#test {
	list-style: none;
}

.deleteTask {
	height: 25px;
	width: 25px;
	background-color: black;
	
	border: none;
	margin-left: 3%;
	float: right;
	
}

button {
	display: none;
}

.listdiv:hover  button{
	display: block;
}

.deleteTask:after{
	font-size: 1.9em;
	content: "x";
	color: #ccff99;
	
}




.checkTask {
	display: inline-block;
	margin: 0 2%;
	
}

input[type=checkbox]:checked + label {
	text-decoration: line-through;
	opacity: 0.3;
}



footer {
	text-align: center;
	font-size: 1.3em;
	height: 35px;
	padding-top: 3%;
}

footer a{
	
	text-decoration: none;
	text-align: center;
	color: #ff9999;
}



/****Media Queries****/

@media (max-width: 735px){
	#wrapper {
	
	
	}

}