/**fonts
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Caveat Brush', cursive;
**/

/**Main Styles**/

* {
	margin: 0;
	padding:0;
	
}

body {
	font-family: 'Lato', sans-serif;
	background-color: black;
	
}

	
#wrapper {
	max-width: 940px;
	padding-left: 40%;
	margin: 15px auto;
	
}

h1 {
	padding: 15px 0 15px 25px;
	color: #99ccff;
	font-size: 3.5em;
}

::-webkit-input-placeholder {
	color: lightgray;
	opacity: 0.3;
	
}

#todotext {
	padding-top: 15px;
	height: 25px;
	width: 250px;
	border: none;
	border-bottom: solid 1px gray;
	font-size: 1.4em;
	background-color: black;
	color: white;	
}



#list {
	padding-top: 15px;
	height: auto;
	width: 275px;
	font-size: 1.5em;
	overflow: auto;
	color: #cc99ff;
	
}

#btn {
	display: none;
	
}

#test {
	list-style: none;
}

.deleteTask {
	height: 25px;
	width: 25px;
	background-color: black;
	
	border: none;
	margin-right: 25px;
	float: right;
	
}

button {
	display: none;
}

.listdiv:hover {
	
	opacity: 0.7
}

.listdiv:hover  button{
	display: block;
}

.deleteTask:after{
	font-size: 1.5em;
	content: "x";
	color: #ccff99;
	
}

.checkTask {
	display: inline-block;
	margin: 0 2%;
	
}

input[type=checkbox]:checked + label {
	text-decoration: line-through;
	opacity: 0.3;
}



footer {
	
	
	height: 35px;
	padding-top: 25px;
	margin: 0 55px;
}

footer a{
	text-decoration: none;
	color: #ff9999;
	display: block;
}



/****Media Queries****/

@media (max-width: 735px){
	#wrapper {
	max-width: 940px;
	padding-left: 35%;
	margin: 15px auto;
	
}


}
@media (max-width: 450px){
	#wrapper {
	max-width: 940px;
	padding-left: 20%;
	margin: 15px auto;
	
}
.deleteTask {
	
	margin-right: 45px;
	
}

#todotext {
	
	width: 230px;
		
}

}